.servers-container {
  background-color: #01161E;
  display: flex;
  justify-content: center;
  width: 100%;
}

.no-server-alert {
  background: #598392;
  border-radius: 15px;
  padding: 15px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 15px auto;
  font-family: sans-serif;
  border: solid 2px #EFF6E0;
  text-align: center;
  font-weight: bold;
}
