<div class="pricing-container">
  <div class="pricing-card">
    <h3 class="plan-title">Personal</h3>
    <p class="price">€5.99/mes</p>
    <ul class="features">
      <li>Low cost servers</li>
      <li>Green energy</li>
      <li>Fidelity program </li>
      <li>25 GB ssd storage</li>
    </ul>
    <ul class="featuresNOT">
      <li>Security SSL</li>
      <li>Automatic Backup</li>
      <li>VPS hosting</li>

    </ul>
    <button (click)="selectPlanById('oXTW9QGTxfZjMcNBS1IY')"  class="btn-elegir-plan">Choose Plan</button>
  </div>
  <div class="pricing-card">
    <h3 class="plan-title">Premium</h3>
    <p class="price">€12.99/mes</p>
    <ul class="features">
      <li>Low cost servers</li>
      <li>Green energy</li>
      <li>Fidelity program </li>
      <li>50 GB ssd storage</li>
      <li>Security SSL</li>
      <li>Automatic Backup</li>
    </ul>
    <ul class="featuresNOT">

      <li>VPS hosting</li>

    </ul>
    <button (click)="selectPlanById('HzLKBYBl8rp8uYSzGP2M')"  class="btn-elegir-plan">Choose Plan</button>

  </div>
  <div class="pricing-card">
    <h3 class="plan-title">Business</h3>
    <p class="price">€29.99/mes</p>
    <ul class="features">
      <li>Low cost servers</li>
      <li>Green energy</li>
      <li>Fidelity program </li>
      <li>75 GB ssd storage</li>
      <li>Security SSL</li>
      <li>Automatic Backup</li>
      <li>High grade servers</li>
      <li>Setup service</li>
    </ul>
    <ul class="featuresNOT">


    </ul>
    <button (click)="selectPlanById('gI43Zs3zMQORMJpIgwEi')"  class="btn-elegir-plan">Choose Plan</button>
  </div>

</div>

