
body {
  background-color: #01161E !important;
}


.auth-container {
  width: 400px;
  padding: 25px;
  background: #2e3b4e;
  border-radius: 10px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px #124559;
}

input {
  width: 95%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ddd;
}

p {
  cursor: pointer;
  margin-top: 15px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.date-selectors {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.date-selectors label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  flex: 1;
}

