<div class="auth-container">
  <h2>{{ isLogin ? 'Iniciar Sesión' : 'Registrarse' }}</h2>

  <form (ngSubmit)="submitForm()" #authForm="ngForm">
    <input type="email" [(ngModel)]="email" name="email" placeholder="Correo" required />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required />

    <!-- Solo mostrar si está en modo registro -->
    <ng-container *ngIf="!isLogin">
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" placeholder="Repetir Contraseña" required />
      <input type="text" [(ngModel)]="displayName" name="displayName" placeholder="Nombre" required />
      <div class="date-selectors">
        <label>
          Día:
          <select [(ngModel)]="birthDay" name="birthDay" required>
            <option *ngFor="let day of days" [value]="day">{{ day }}</option>
          </select>
        </label>

        <label>
          Mes:
          <select [(ngModel)]="birthMonth" name="birthMonth" required>
            <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
          </select>
        </label>

        <label>
          Año:
          <select [(ngModel)]="birthYear" name="birthYear" required>
            <option *ngFor="let year of years" [value]="year">{{ year }}</option>
          </select>
        </label>
      </div>


    </ng-container>

    <button type="submit">{{ isLogin ? 'Entrar' : 'Crear Cuenta' }}</button>
  </form>

  <p (click)="toggleMode()">
    {{ isLogin ? '¿No tienes cuenta? Regístrate' : '¿Ya tienes cuenta? Inicia sesión' }}
  </p>

  <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
</div>

